<div class="post">
    <div class="row-fluid">
        <div class="span9" style="font-size: 28px">
            {# @todo: Post routes #}
            <a href="{{ path('rhapsody_blog_post', {'slug': _widget.post.slug}) }}">{{ _widget.post.title }}</a>
        </div>
        <div class="span3" style="text-align: right">
            <i>{{ _widget.post.date|date('m/d/Y H:i:s') }}</i>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12" style="margin: 10px 0px 10px 0px">
            {{ _widget.previewText|markup(_widget.post.markup) }}
        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
        </div>
        <div class="span6" style="text-align: right">
            {# trans from "SymfonyCmfSimpleCmsBundle" #}Tagging{# endtrans #}:
            {# include "SymfonyCmfBlogBundle:Blog:tags_inline.html.twig" #}
        </div>
    </div>
</div>