{% extends 'RhapsodyBlogBundle::layout.html.twig' %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        {% block posts %}
            {% for post in posts %}
            	{{ post_preview(post) }}
            {% endfor %}
        {% endblock %}
    </div>
</div>
{% endblock %}