{% extends 'RhapsodyBlogBundle::layout.html.twig' %}

{% block content %}
<div class="post">
	<div class="the-post">
		{{ blog_widget(post) }}
	</div>

	<div class="post-comments">
		{% for comment in post.comments %}
			{{ blog_widget(comment) }}
		{% endfor %}
	</div>
</div>
{% endblock %}